@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*
{
    padding: 0px;
    margin: 0px;
}

::selection {
  color: black;
  background: lime;
}

body
{
    color: lime;
    background-color: #000;
}

button
{
    outline: none;
    background: none;
}

a
{
    transition: .5s;
    color: lime;
}

a:hover
{
    color: white;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

/* NAV */
nav
{
    transition: 1s;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-family: "Fira Code", sans-serif;
    position: fixed;
    text-align: center;
}

html:not([data-scroll='0']) nav
{
    background-color: rgba(0, 0, 0, 0.5);
}


html:not([data-scroll='0']) nav:hover
{
    background-color: rgba(0, 0, 0, 0.85);
}

nav > img
{
    filter: grayscale(100%);
    visibility: hidden;
    transition: 1.5s;
    cursor: pointer;
    margin-bottom: -0.35vw;
    opacity: 0;
    margin-right: 60vw;
    width: 2.5vw;
}


nav > img:hover
{
    filter: grayscale(0%);
}

html:not([data-scroll='0']) nav > img
{
    transition-delay: 1s;
    visibility: visible;
    margin-right: 30vw;
    opacity: 1;
}

nav > span
{
    visibility: visible;
}

html:not([data-scroll='0']) nav > span
{
    visibility: hidden;
}

.btn
{
    margin-left: .3vw;
    margin-right: .3vw;
    transition: .7s;
    cursor: pointer;
    background-color: none;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 700;
    padding: 1.2vh;
    border-radius: 30px;
    border: 2px solid lime;
    text-decoration: none;
}


html:not([data-scroll='0']) .btn
{
    color: #fff;
    border-color: white;
}

.btn:hover
{
    transition: 1s;
    background-color: lime;
    color: #000;
}

html:not([data-scroll='0']) .btn:hover
{
    color: #000;
    border-color: lime;
}

.btn2
{
    color: #000;
    transition: .7s;
    cursor: pointer;
    background-color: none;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 700;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: 2px solid black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.btn2:hover
{
    transition: 1s;
    background-color: black;
    color: #fff;
}
/* NAV END */

/* HEADER */
header
{
    transition: 3s;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 30%;
    background-image: url("../res/icon.png");
    width: 100%;
    height: 100vh;
}

html:not([data-scroll='0']) header
{
    background-position: -50%;
    height: 80vh;
}

header > p
{
    transition: 3s;
    font-family: "Fira Code", sans-serif;
    font-size: 2em;
    padding-top: 80vh;
    text-align: center;
}

html:not([data-scroll='0']) header > p
{
    color: #fff;
    padding-top: 40vh;
    text-align: center;
}

header > center > img
{
    width: 2.5em;
    margin-top: 9vh;
    cursor: pointer;
    visibility: visible;
    animation: scrollme 2.5s infinite ease;
}

@keyframes scrollme
{
    0%
    {
        transform: translateY(0em);
        opacity: 1;
    }

    25%
    {
        transform: translateY(-.07em);
        opacity: .5;
    }

    50%
    {
        transform: translateY(0em);
        opacity: 1;
    }

    75%
    {
        transform: translateY(-.07em);
        opacity: .5;
    }
}

html:not([data-scroll='0']) header > center > img
{
    visibility: hidden;
}
/* HEADER END */

/* PROJECTS */
#projects
{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

#projects > h1
{
    color: #000;
    font-size: 27px;
    font-family: "Montserrat", sans-serif;
    padding-top: 12vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
}

.project
{
    float: left;
    font-family: "Fira Code", sans-serif;
    padding: 2vw;
    margin: 2vw 0vw;
    color: #000;
    width: 24.75vw;
    height: 60vh;
    border: .1vw solid #000;
    text-overflow: ellipsis;
    overflow: auto;
    transition: 1s;
}

.project > img
{
    border: .1vw solid #000;
}

.project:hover
{
    transition: 1s;
    background-color: lime;
}

.project > p > a
{
    transition: .5s;
    padding-left: 2px;
    padding-right: 2px;
}

.project:hover > p > a
{
    background-color: #000;
}

.project > span
{
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}

.disabled-project
{
    background: url("../res/disabled-project.png");
    background-size: 10%;
}

.left
{
    margin-top: 4.5vw;
    margin-left: 16.81875vw;
    width: 15vw;
    height: 50vh;
    border: .1vw solid #000;
    border-right: 0px;
}

.right
{
    margin-top: 4.5vw;
    width: 15vw;
    height: 50vh;
    border: .1vw solid #000;
    border-left: 0px;
}

#projects_container
{
    align-content: center;
}
/* PROJECTS END */


/* ABOUT */
#about
{
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#about > h1
{
    color: #fff;
    font-size: 27px;
    font-family: "Montserrat", sans-serif;
    padding-left: 2vw;
    padding-top: 12vh;
    margin-top: 1px;
    padding-bottom: 1vh;
    text-align: center;
}

#about > p
{
    font-size: 1vw;
    float: left;
    font-family: "Fira Code", sans-serif;
    padding: 2vw;
    margin: 2vw;
    margin-left: 15vw;
    margin-right: 0;
    color: #fff;
    width: 40vw;
    height: 60vh;
    border: .1vw solid #fff;
    text-overflow: ellipsis;
    overflow: auto;
}

#about > #me
{
    padding: 2vw;
    margin-top: 2vw;
    float:left;
    width: 22.2vw;
    height: 60vh;
    border: .1vw solid #fff;
    border-left: none;
    background-image: url("../res/me.jpg");
    background-size: 130%;
    background-position: 29% 58%;
}
/* ABOUT END */

/* FOOTER */
footer
{
    width: 100%;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 6.5vh;
    bottom: 0px;
}

footer > span
{
    color: white;
    text-decoration: none;
}

footer > a
{
    margin-left: 20px;
    color: white;
    transition: .5s;
}

footer > a:hover
{
    color: lime;
}
/* FOOTER END */
